/* Structured from the biggest container down to the smallest. Styling for the workoutComponent. */


.WorkoutContainer{
    background-color:rgb(85, 71, 71);
    padding: 0.2%; 
    border-radius: 4%;
    margin-left: 5%;
    margin-right: 5%;
  
}   


.WorkoutName
{

}

.ExerciseContainer{
    display: inline-block;
    background-color:rgb(184, 123, 9);
    padding-top: 0.2%;
    border-style: solid;
    border-color: beige;
    border-width: 0.2%; 
    border-radius: 4%;
    margin: 0.5%;
    
    vertical-align: middle;
    align-items: center;
}   

.ExerciseName{

}

.ExerciseRepList
{
    padding: 5%;
    background-color: cornflowerblue;

}

.ExerciseRepListElement{
 border-color: beige;
 border-style: solid;
 border-width: 0.5%;  
 margin: 3%; 
 padding: 5%;
 background-color: azure;
}