.App {
  text-align: center;
  background-color:rgb(88, 61, 61);
}

.Header {
  background-color: rgb(65, 57, 57);
  border-style: solid;
  border-color: black;
  border-bottom: 5%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding-top: 0.5%;
  margin-bottom: 0.5%;
}


.HeaderNavButton {
  margin: 0.5%;
}
